streamlit==1.50.0

numpy==1.26.4
Pillow==11.3.0
pandas==2.2.3
scikit-learn==1.6.1
scikit-image==0.25.2

opencv-python-headless==4.10.0.84

tensorflow==2.20.0
tf-keras==2.20.0

deepface==0.0.99
keras-facenet==0.3.2
